@use 'variables' as *;

:host {
  display: block;
  min-height: 100vh;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &--auth {
    min-height: 100vh;
  }

  &--org-manage {
    --org-manage-sidebar-width: #{$sidebar-collapsed-width};
  }

  &__content {
    flex: 1;
  }
}
